{#
Displays a single dataset.

package - A package to display.
item_class - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=180) %}

{% block package_item %}
<li class="dataset-item-container">
  <div class="row">
    <!-- Icon Section -->
    <div class="col-md-1 ">
      <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
        <strong><p class="ds-icon-breadcrumb-dataset"></strong>
      </a>
    </div>
    <!-- Title Section -->
    <div class="col-md-3 ">
      <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
        <strong>{{ package.title | truncate(80) }}</strong>
      </a>
    </div>

    <!-- Metadata Section -->
    <div class="col-md-2 ">
      <p class="ds-downloads">{{ package.num_resources }}</p>
    </div>
    
    <div class="col-md-3 ">
      <p class="ds-dates">{{ package.metadata_modified | truncate(15) }}</p>
    </div>
    <div class="col-md-3 ">
      {% block resources %}
      {% if package.resources and not hide_resources %}
        {% block resources_outer %}
          <ul class="dataset-resources list-unstyled dataset-resources-item">
            {% block resources_inner %}
              {% for resource in h.dict_list_reduce(package.resources, 'format') %}
              <li>
                <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="badge badge-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
              </li>
              {% endfor %}
            {% endblock %}
          </ul>
        {% endblock %}
      {% endif %}
    {% endblock %}
    </div>
  </div>

  <!-- Description Section -->
  <div class="mt-1">
    <p class="line-clamp-2 text-sm text-gray-600 mt-4 package-description">
      {% if package.notes %}
        {{ package.notes | urlize }}
      {% else %}
        {{ _('There is no description for this package') }}
      {% endif %}
    </p>
  </div>
</li>

{% endblock %}
