{#
Displays a single dataset.

package - A package to display.
item_class - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}

{% set resource_type = h.scheming_get_dataset_schema(package.type).name %}

{% block package_item %}
<li class="dataset-item-container">
  <div class="row align-items-center">
    <!-- Title (col-md-4 on large screens, full width on small screens) -->
    <div class="col-12 col-md-6 mb-2 mb-md-0">
      <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" class="dataset-title">
        <strong>{{ package.title | truncate(80) }}</strong>
      </a>
    </div>

    <!-- Last updated (col-md-3 on large screens) -->
    <div class="col-12 col-md-2 mb-2 mb-md-0">
      <p class="last-updated">{{ h.render_datetime(package.metadata_modified) }}</p>
    </div>

    <!-- File types (col-md-3 on large screens) -->
    <div class="col-12 col-md-2 mb-2 mb-md-0">
      {% block resources %}
        {% if package.resources and not hide_resources %}
          <ul class="dataset-resources list-unstyled dataset-resources-item">
            {% for resource in h.dict_list_reduce(package.resources, 'format') %}
              <li>
                <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}"
                   class="badge badge-default"
                   data-format="{{ resource.lower() }}">
                  {{ resource }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock %}
    </div>

    <!-- Dataset Type + Resource Count (col-md-2 on large screens) -->
    <div class="col-12 col-md-2 d-flex flex-column justify-content-between align-items-end">
      <!-- Type as a small badge -->
      <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}"
         class="badge dataset-type-badge"
         data-format="{{ package.type }}">
         {{ resource_type }}
      </a>
      <!-- Resource count as a stylized label -->
      <span class="resource-count">{{ package.num_resources }} {{ _('Resource') if package.num_resources == 1 else _('Resources') }}</span>
    </div>
  </div>

  <!-- Description -->
  <div class="dataset-description-wrapper col-12 col-md-8">
    {% if package.notes %}
      <p class="package-description">{{ package.notes | urlize }}</p>
    {% else %}
      <p class="package-description">{{ _('There is no description for this package') }}</p>
    {% endif %}
  </div>
</li>
{% endblock %}