{#
    Responsive hero section template with optional search form
    
    Parameters:
    - title: Page title (defaults to URL segment)
    - description: Optional description text
    - search_placeholder: Search input placeholder
    - hero_image: Main image path
    - show_search_form: Toggle search form
    - hero_background: Pattern image path
    - hero_side_background: Side background image
    - classes: Additional CSS classes for the section
    - hide_hero_img_on_mobile: Whether to hide hero image on mobile (defaults to true)
#}
{% set last_segment_check = request.path.split('/')[-1] %}
    {% if last_segment_check|length > 1 %}
        {% set last_segment = request.path.split('/')[-1] %}
    {% else %}
        {% set last_segment = request.path.split('/')[-2] %}  
    {% endif %}
{% set last_segment = last_segment.split('?')[0] %}
{% set default_title = last_segment|replace('-', ' ')|replace('_', ' ')|title %}

{% set title = title or default_title %}
{% set description = description or '' %}
{% set search_placeholder = search_placeholder or _('Search datasets...') %}
{% set hero_image = hero_image or '/img/could-transparent.png' %}
{% set show_search_form = show_search_form if show_search_form is defined else false %}
{% set hero_background = hero_background or '/img/transparent-pattern.png' %}
{% set hero_side_background = hero_side_background or '' %}
{% set classes = classes or '' %}
{% set hide_hero_img_on_mobile = hide_hero_img_on_mobile if hide_hero_img_on_mobile is defined else true %}

<section class="who-hero hero-section {{ classes }}">
    <div class="hero-pattern" style="background-image: url('{{ hero_background }}')"></div>
    <div class="container hero-container">
        <div class="row min-vh-50 align-items-center py-5">
            <div class="col-lg-6 p-0">
                <h1 class="display-4 fw-bold mb-4">{{ title }}</h1>
                <p class="lead mb-4">{{ description }}</p>
                {% if show_search_form %}
                <form class="search-container" action="" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="{{ search_placeholder }}" aria-label="{{ _('Search datasets') }}">
                        <input class="btn btn-primary" type="submit" value="{{ _('Search') }}">
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-lg-6 p-0 {% if hide_hero_img_on_mobile %}d-none d-lg-flex{% else %}d-flex{% endif %} hero-image" style="background-image: url('{{ hero_side_background }}')">
                <img src="{{ hero_image }}" alt="{{ _('Hero Image') }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>
