/* @import url(https://db.onlinewebfonts.com/c/9d25ea5c587d0f9d470aa9a3634735ea?family=ETmoudles); */

:root {

  --bs-gray: #3c4245;
  --bs-gray-600: #3c4245;
  --bs-secondary: #3c4245;
  --bs-font-sans-serif: 'Noto Sans', sans-serif;
  --l-l2-background: #e1e4ec;
  --l-l2-accentFillRest: #006cbe;
  --l-l2-accentFillHover: #0078d4;
  --l-l2-accentFillActive: #005ca3;
  --l-l2-accentFillSelected: #00477d;
  --l-l2-accentForegroundCut: #ffffff;
  --l-l2-neutralFocusInnerAccent: #d4e8f8;
  --l-l2-neutralFocus: #64789c;
  --l-l2-neutralFillRest: #f6f7f9;
  --l-l2-neutralFillHover: #ffffff;
  --l-l2-neutralFillActive: #f0f2f5;
  --l-l2-neutralFillSelected: #f6f7f9;
  --l-l2-neutralForegroundRest: #00153c;
  --l-l2-neutralFillStealthRest: #e1e4ec;
  --l-l2-neutralFillStealthHover: #f0f2f5;
  --l-l2-neutralFillStealthActive: #eaecf1;
  --l-l2-neutralFillStealthSelected: #f6f7f9;
  --l-l2-neutralOutlineRest: #95a2bb;
  --l-l2-neutralOutlineHover: #677a9e;
  --l-l2-neutralOutlineActive: #b0bacd;
  --l-l3-background: #d8dce6;
  --l-l3-accentFillRest: #006cbe;
  --l-l3-accentFillHover: #0078d4;
  --l-l3-accentFillActive: #005ca3;
  --l-l3-accentFillSelected: #00477d;
  --l-l3-accentForegroundCut: #ffffff;
  --l-l3-neutralFocusInnerAccent: #c7e1f6;
  --l-l3-neutralFocus: #5e7298;
  --l-l3-neutralFillRest: #edeff3;
  --l-l3-neutralFillHover: #f6f7f9;
  --l-l3-neutralFillActive: #e7eaef;
  --l-l3-neutralFillSelected: #edeff3;
  --l-l3-neutralForegroundRest: #000d25;
  --l-l3-neutralFillStealthRest: #d8dce6;
  --l-l3-neutralFillStealthHover: #e7eaef;
  --l-l3-neutralFillStealthActive: #e1e4ec;
  --l-l3-neutralFillStealthSelected: #edeff3;
  --l-l3-neutralOutlineRest: #8c9ab5;
  --l-l3-neutralOutlineHover: #5e7298;
  --l-l3-neutralOutlineActive: #a7b2c7;
  --l-l4-background: #ced5e0;
  --l-l4-accentFillRest: #006cbe;
  --l-l4-accentFillHover: #0078d4;
  --l-l4-accentFillActive: #005ca3;
  --l-l4-accentFillSelected: #00477d;
  --l-l4-accentForegroundCut: #ffffff;
  --l-l4-neutralFocusInnerAccent: #b6f8f3;
  --l-l4-neutralFocus: #586d94;
  --l-l4-neutralFillRest: #e4e7ee;
  --l-l4-neutralFillHover: #edeff3;
  --l-l4-neutralFillActive: #dee2ea;
  --l-l4-neutralFillSelected: #e4e7ee;
  --l-l4-neutralForegroundRest: #000000;
  --l-l4-neutralFillStealthRest: #ced5e0;
  --l-l4-neutralFillStealthHover: #dee2ea;
  --l-l4-neutralFillStealthActive: #d8dce6;
  --l-l4-neutralFillStealthSelected: #e4e7ee;
  --l-l4-neutralOutlineRest: #8392af;
  --l-l4-neutralOutlineHover: #556a92;
  --l-l4-neutralOutlineActive: #9eaac1;
  --d-l1-background: #274375;
  --d-l1-accentFillRest: #006cbe;
  --d-l1-accentFillHover: #0078d4;
  --d-l1-accentFillActive: #005ca3;
  --d-l1-accentFillSelected: #238ada;
  --d-l1-accentForegroundCut: #ffffff;
  --d-l1-neutralFocusInnerAccent: #004478;
  --d-l1-neutralFocus: #8f9db7;
  --d-l1-neutralFillRest: #3d5583;
  --d-l1-neutralFillHover: #465d89;
  --d-l1-neutralFillActive: #37507f;
  --d-l1-neutralFillSelected: #3d5583;
  --d-l1-neutralForegroundRest: #ffffff;
  --d-l1-neutralFillStealthRest: #274375;
  --d-l1-neutralFillStealthHover: #37507f;
  --d-l1-neutralFillStealthActive: #314a7b;
  --d-l1-neutralFillStealthSelected: #3d5583;
  --d-l1-neutralOutlineRest: #7385a6;
  --d-l1-neutralOutlineHover: #a1adc3;
  --d-l-neutralOutlineActive: #586d94;
  --d-l2-background: #15336a;
  --d-l2-accentFillRest: #006cbe;
  --d-l2-accentFillHover: #0078d4;
  --d-l2-accentFillActive: #005ca3;
  --d-l2-accentFillSelected: #238ada;
  --d-l2-accentForegroundCut: #ffffff;
  --d-l2-neutralFocusInnerAccent: #00355d;
  --d-l2-neutralFocus: #798aaa;
  --d-l2-neutralFillRest: #2a4577;
  --d-l2-neutralFillHover: #344d7d;
  --d-l2-neutralFillActive: #244073;
  --d-l2-neutralFillSelected: #2a4577;
  --d-l2-neutralForegroundRest: #ffffff;
  --d-l2-neutralFillStealthRest: #15336a;
  --d-l2-neutralFillStealthHover: #244073;
  --d-l2-neutralFillStealthActive: #1e3b6f;
  --d-l2-neutralFillStealthSelected: #2a4577;
  --d-l2-neutralOutlineRest: #61759a;
  --d-l2-neutralOutlineHover: #8f9db7;
  --d-l2-neutralOutlineActive: #465d89;
  --d-l3-background: #0c2b64;
  --d-l3-accentFillRest: #006cbe;
  --d-l3-accentFillHover: #0078d4;
  --d-l3-accentFillActive: #005ca3;
  --d-l3-accentFillSelected: #238ada;
  --d-l3-accentForegroundCut: #ffffff;
  --d-l3-neutralFocusInnerAccent: #002f52;
  --d-l3-neutralFocus: #7082a4;
  --d-l3-neutralFillRest: #213d71;
  --d-l3-neutralFillHover: #2a4577;
  --d-l3-neutralFillActive: #1b386d;
  --d-l3-neutralFillSelected: #213d71;
  --d-l3-neutralForegroundRest: #ffffff;
  --d-l3-neutralFillStealthRest: #0c2b64;
  --d-l3-neutralFillStealthHover: #1b386d;
  --d-l3-neutralFillStealthActive: #15336a;
  --d-l3-neutralFillStealthSelected: #213d71;
  --d-l3-neutralOutlineRest: #586d94;
  --d-l3-neutralOutlineHover: #8695b1;
  --d-l3-neutralOutlineActive: #3d5583;
  --d-l4-background: #03235e;
  --d-l4-accentFillRest: #006cbe;
  --d-l4-accentFillHover: #0078d4;
  --d-l4-accentFillActive: #005ca3;
  --d-l4-accentFillSelected: #238ada;
  --d-l4-accentForegroundCut: #ffffff;
  --d-l4-neutralFocusInnerAccent: #002847;
  --d-l4-neutralFocus: #6a7da0;
  --d-l4-neutralFillRest: #18356c;
  --d-l4-neutralFillHover: #213d71;
  --d-l4-neutralFillActive: #12306b;
  --d-l4-neutralFillSelected: #18356c;
  --d-l4-neutralForegroundRest: #f9fafb;
  --d-l4-neutralFillStealthRest: #03235e;
  --d-l4-neutralFillStealthHover: #12306b;
  --d-l4-neutralFillStealthActive: #0c2b64;
  --d-l4-neutralFillStealthSelected: #18356c;
  --d-l4-neutralOutlineRest: #4f658e;
  --d-l4-neutralOutlineHover: #7c8dac;
  --d-l4-neutralOutlineActive: #344d7d;
  --l1-background: #ffffff;
  --l1-accentFillRest: #0078d4;
  --l1-accentFillHover: #006cbe;
  --l1-accentFillActive: #1683d8;
  --l1-accentFillSelected: #005393;
  --l1-accentForegroundCut: #ffffff;
  --l1-neutralFocusInnerAccent: #fbfdfe;
  --l1-neutralFocus: #7688a8;
  --l1-neutralFillRest: #eaecf1;
  --l1-neutralFillHover: #e1e4ec;
  --l1-neutralFillActive: #f0f2f5;
  --l1-neutralFillSelected: #eaecf1;
  --l1-neutralForegroundRest: #092862;
  --l1-neutralFillStealthRest: #ffffff;
  --l1-neutralFillStealthHover: #f0f2f5;
  --l1-neutralFillStealthActive: #f6f7f9;
  --l1-neutralFillStealthSelected: #eaecf1;
  --l1-neutralOutlineRest: #b3bdce;
  --l1-neutralOutlineHover: #8695b1;
  --l1-neutralOutlineActive: #ced5e0;
  --l2-background: #ffffff;
  --l2-accentFillRest: #0078d4;
  --l2-accentFillHover: #006cbe;
  --l2-accentFillActive: #1683d8;
  --l2-accentFillSelected: #005393;
  --l2-accentForegroundCut: #ffffff;
  --l2-neutralFocusInnerAccent: #fbfdfe;
  --l2-neutralFocus: #7688a8;
  --l2-neutralFillRest: #eaecf1;
  --l2-neutralFillHover: #e1e4ec;
  --l2-neutralFillActive: #f0f2f5;
  --l2-neutralFillSelected: #eaecf1;
  --l2-neutralForegroundRest: #092862;
  --l2-neutralFillStealthRest: #ffffff;
  --l2-neutralFillStealthHover: #f0f2f5;
  --l2-neutralFillStealthActive: #f6f7f9;
  --l2-neutralFillStealthSelected: #eaecf1;
  --l2-neutralOutlineRest: #b3bdce;
  --l2-neutralOutlineHover: #8695b1;
  --l2-neutralOutlineActive: #ced5e0;
  --l3-background: #ffffff;
  --l3-accentFillRest: #0078d4;
  --l3-accentFillHover: #006cbe;
  --l3-accentFillActive: #1683d8;
  --l3-accentFillSelected: #005393;
  --l3-accentForegroundCut: #ffffff;
  --l3-neutralFocusInnerAccent: #fbfdfe;
  --l3-neutralFocus: #7688a8;
  --l3-neutralFillRest: #eaecf1;
  --l3-neutralFillHover: #e1e4ec;
  --l3-neutralFillActive: #f0f2f5;
  --l3-neutralFillSelected: #eaecf1;
  --l3-neutralForegroundRest: #092862;
  --l3-neutralFillStealthRest: #ffffff;
  --l3-neutralFillStealthHover: #f0f2f5;
  --l3-neutralFillStealthActive: #f6f7f9;
  --l3-neutralFillStealthSelected: #eaecf1;
  --l3-neutralOutlineRest: #b3bdce;
  --l3-neutralOutlineHover: #8695b1;
  --l3-neutralOutlineActive: #ced5e0;
  --l4-background: #f6f7f9;
  --l4-accentFillRest: #0078d4;
  --l4-accentFillHover: #006cbe;
  --l4-accentFillActive: #1683d8;
  --l4-accentFillSelected: #005393;
  --l4-accentForegroundCut: #ffffff;
  --l4-neutralFocusInnerAccent: #eef6fc;
  --l4-neutralFocus: #7082a4;
  --l4-neutralFillRest: #e1e4ec;
  --l4-neutralFillHover: #d8dce6;
  --l4-neutralFillActive: #e7eaef;
  --l4-neutralFillSelected: #e1e4ec;
  --l4-neutralForegroundRest: #00205c;
  --l4-neutralFillStealthRest: #f6f7f9;
  --l4-neutralFillStealthHover: #e7eaef;
  --l4-neutralFillStealthActive: #edeff3;
  --l4-neutralFillStealthSelected: #e1e4ec;
  --l4-neutralOutlineRest: #aab5c9;
  --l4-neutralOutlineHover: #7c8dac;
  --l4-neutralOutlineActive: #c5cdda;
}


body {

  font-family: 'Noto Sans', sans-serif;
}

caption {
  color: #3c4245;
}

.blockquote-footer {
  color: #3c4245;
}

.figure-caption {
  color: #3c4245;
}



.form-text {
  color: #3c4245;
}

.form-control::placeholder {
  color: #3c4245;
}


.btn-primary {
  background-color: #0078d4 !important;
  border-color: #007CE0;
}

.btn-primary:hover {
  background-color: #006cbe;
  border-color: #006cbe;
}


.btn-secondary {
  color: #fff;
  background-color: #3c4245;
  border-color: #3c4245;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-secondary:disabled,
.btn-secondary.disabled {
  color: #fff;
  background-color: #3c4245;
  border-color: #3c4245;
}

.btn-outline-secondary {
  color: #3c4245;
  border-color: #3c4245;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #3c4245;
  border-color: #3c4245;
}

.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
  color: #3c4245;
  background-color: transparent;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #3c4245;
}

.dropdown-header {

  color: #3c4245;

}

.nav-link.disabled,
.page-header .nav-tabs li a.disabled {
  color: #3c4245;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #3c4245;
  content: var(--bs-breadcrumb-divider, ">");
  font-weight: bold;
  /* rtl: var(--bs-breadcrumb-divider, "/") */
  ;
}

.breadcrumb-item.active {
  color: #3c4245;
}

.page-item.active .page-link {
  background-color: #0F2D5B;
  border-color: #0F2D5B;
}

.page-item.disabled .page-link {
  color: #3c4245;
}


.toast-header {

  color: #3c4245;

}




.link-secondary {
  color: #3c4245;
}


.border-secondary {
  border-color: #3c4245 !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #3c4245 !important;
}


.module-heading {
  margin: 0;
  padding: 0.5rem 25px;
  font-size: 0.875rem;
  line-height: 1.3;
  background-color: #008DC9;
  border-top: 1px solid #008DC9;
  border-bottom: 1px solid #008DC9;
  color: #fff;
}


.module-narrow .nav-item>a .badge,
.module-narrow .nav-aside li a .badge {
  background-color: #0F2D5B;
  border-radius: 10px;
  color: #fff;
}

.module-narrow .nav-item.active>a,
.module-narrow .nav-aside li.active a {
  background-color: var(--d-l3-accentFillActive);
}

.module-narrow .nav-item.active>a:before,
.module-narrow .nav-aside li.active a:before {
  border-left-color: var(--d-l3-accentFillActive);

}

.stages li.active .highlight {
  color: rgb(255, 255, 255);
  background: var(--l4-accentFillRest);
}

.dataset-heading a {
  color: #0F2D5B !important;
}

.dataset-heading .badge {
  position: relative;
  top: -1px;
}

.badge-inverse {
  background-color: #3c4245;
}

.badge[data-format=html],
.badge[data-format*=html] {
  background-color: #55a1ce;
}

.badge[data-format=json],
.badge[data-format*=json] {
  background-color: #ef7100;
}

.badge[data-format=xml],
.badge[data-format*=xml] {
  background-color: #ef7100;
}

.badge[data-format=text],
.badge[data-format*=text] {
  background-color: #74cbec;
}

.badge[data-format=csv],
.badge[data-format*=csv] {
  background-color: #2db55d;
}

.badge[data-format=xls],
.badge[data-format*=xls] {
  background-color: #2db55d;
}

.badge[data-format=zip],
.badge[data-format*=zip] {
  background-color: #686868;
}

.badge[data-format=api],
.badge[data-format*=api] {
  background-color: #ec96be;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
  background-color: #5e5e5e;
  color: #fff;
  text-decoration: none;
}



/* diff styles */
table.diff {
  font-family: 'Noto Sans', sans-serif;
  ;
  border: medium;
}

.toolbar .breadcrumb li:not(:first-child)::before {

  font-size: 1.5rem;
  content: var(--bs-breadcrumb-divider, ">")
    /* rtl: var(--bs-breadcrumb-divider, "/") */
  ;
}

.toolbar .breadcrumb li:second-child::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, ">")
    /* rtl: var(--bs-breadcrumb-divider, "/") */
  ;
}

.toolbar .breadcrumb .active {
  color: #3c4245;
}

.toolbar .breadcrumb a {
  font-size: 1.5rem;
  color: #505050;
  font-weight: bold;
}



.main {
  padding: 20px 0;
  background: #fff;
  background-position: center bottom;
  background-size: cover;
}

.homepage .module-search .search-form {
  border-radius: 0.25rem;
  background-color: #0b2960;
  padding: 30px 20px;
}


.homepage .module-search .tags {
  margin-top: -5px;
  padding: 5px 10px 10px 10px;
  background-color: #0b2960;
  color: #fff;
}



.homepage .module-search .tags h3,
.homepage .module-search .tags .h3,
.homepage .module-search .tags .tag {
  display: block;
  float: left;
  margin: 5px 10px 0 0;
  color: #fff;
}

.account-masthead {
  min-height: 30px;
  color: #fff;
  background: #0F2D5B url("../../../base/images/bg.png");
}


.account-masthead .account ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 31px;
}


.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #0078d4;
  text-decoration: none;
}



.account-masthead .account .notifications a span.badge {
  background-color: #0078d4;

}


.masthead {
  background: url("https://azapp-pph-dataportal-wp-02.azurewebsites.net/wp-content/uploads/2025/01/UCN-Data-Portal-Recovered.png");
}



@media (max-width: 991.98px) {
  .masthead .main-navbar ul li a.disabled {
    color: #3c4245;
    pointer-events: none;
    cursor: default;
  }
}

.site-footer {
  background: #0F2D5B url("../../../base/images/bg.png");
  padding: 20px 0;
  color: #fff;
  width: 100%;
  display: table;
  margin: 0 0 0 0;
}



.subscribe-section {
  text-align: center;
}

.subscribe-container {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #fff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.site-footer .footer_region {
  font-size: 1.3125rem;
  padding-bottom: 15px;
  padding-top: 30px;
  /*   border-bottom: solid 2px #298ac8; */
}

.btn.search {
  color: #fff;
}

/**********Main Menu*************/
.main-menu {
  float: left;
  margin-left: 300px;
  margin-top: 5px;
}

.main-menu ul li {
  display: block;
  float: left;
  border-left: 1px solid #00232e;
}

.main-menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 31px;
}

.main-menu ul li a span.username,
.account-masthead .account ul li a span.text {
  margin: 0 2px 0 4px;
}

.main-menu ul li a span.text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.main-menu ul li a:hover {
  color: #fff;
  background-color: #008DC9;
  text-decoration: none;
}

.main-menu ul li a.sub {
  font-weight: 300;
}

.main-menu ul li a .btn {
  vertical-align: 1px;
  margin-left: 3px;
}

.main-menu-search {
  min-width: 250px;
}

/*Facet list*/
.facet-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

.dropdown-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.facet-dropdown:focus {
  border-color: #007bff;
  outline: none;
}

.tags {
  color: #fff;
}

/***************New footer *****************/

.page-header .nav-tabs li.active a,
.page-header .nav-tabs a:hover {
  border-bottom: 4px solid var(--l1-accentFillSelected);
  color: var(--l1-accentFillActive);

}

.page-header .nav-tabs li a:hover {
  background-color: var(--l1-accentFillHover);
  color: #fff;
}


.btn-light,
.btn-default {
  background-color: #fff;
  border: 2px solid #00205c;
  background-color: transparent;
  color: var(--l1-neutralForegroundRest);
}

.btn-light,
.btn-default a {
  color: #00205c
}

.btn-light:hover,
.btn-default:hover {
  background-color: #00205c !important;
  border: 2px solid #00205c !important;
  color: #fff !important;
}

.btn-light:hover,
.btn-default:hover a {
  color: #fff !important;
}

.btn-light:focus-within,
.btn-default:focus-within {
  background-color: #00205c !important;
  ;
  border-color: #fff !important;
  ;
  outline-color: #00205c !important;
  ;
}

.btn-light:focus-within,
.btn-default:focus-within a {
  color: #fff !important;
}

.resource-item .heading {
  color: var(--l2-neutralForegroundRest) !important;
}

.nav-link,
.page-header .nav-tabs li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #0F2D5B;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #008DC9;
  /* Circle border */
  border-radius: 50%;
  /* Circular shape */
  font-size: 14px;
  /* FontAwesome icon size */
  color: #fff;
  background-color: #008DC9;
  cursor: pointer;
  transform: translateY(-50%);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.toggle-icon .fa {
  transition: transform 0.3s ease;
}

.toggle-icon.collapsed {
  background-color: #008DC9;
  /* Darker background when collapsed */
  color: white;
  /* White icon color */
}

.toggle-icon.collapsed .fa {
  transform: rotate(180deg);
  /* Rotate animation */
}

/* HDX */

.list-items.search-form h2 {

  font-weight: 700;
  font-size: 28px;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1;
  margin: 35px 0;
}

.search-list .dataset-item {
  border-bottom: 1px solid #cccccc;
  margin: 0;
  position: relative;
}

.search-list .dataset-item .dataset-content {
  padding: 15px;
}

.search-list .dataset-item .dataset-content .dataset-heading {
  margin-bottom: 0;
  line-height: 1;
  font-size: 14px;
}

.search-list .dataset-item .dataset-content .dataset-heading a {

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1;
}

.search-list .dataset-item .dataset-content .dataset-updated {

  font-weight: 400;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.01em;
}

.search-list .dataset-item .dataset-content .updatedNameColor {

  font-weight: 400;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.01em;
}

.search-list .dataset-item .dataset-content .dataset-actions>ul {
  display: inline;
  list-style: none;
}

.search-list .dataset-item .dataset-content .dataset-actions>ul>li {
  display: inline;
  color: #007CE0;
}

.search-list .dataset-item .dataset-content .dataset-actions>ul>li>a {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 12px;
  color: #007CE0;
  letter-spacing: 0.01em;
}

.search-list .dataset-item .dataset-content .dataset-description {

  font-weight: 400;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.01em;
}

.search-list .dataset-item .dataset-content .dataset-others .label-size {
  font-size: 10px;

  font-weight: 400;
  color: #888888;
  letter-spacing: 0.01em;
  margin-left: 5px;
}

.search-list .dataset-item .dataset-content2 {
  padding: 32px 12px;
}

.search-list .dataset-item .dataset-content2 .dataset-heading a {

  font-weight: 600;
  font-size: 14px;
  color: #007CE0;
}

.search-list .dataset-item .dataset-content2 .dataset-updated {
  line-height: 1;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-org {
  margin: 8px 0;
  font-size: 13.25px;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons {
  margin-bottom: 8px;
  font-size: 13.25px;
  display: flex;
  align-items: flex-end;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons [class^="icon-"],
.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #888888;
  font-size: 18px;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons .humanitarianicons-Chart:hover::before {
  color: #007CE0;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons .icon-check:hover::before {
  color: #1ebfb3;
}

.search-list .dataset-item .dataset-content2 .dataset-updated .dataset-updated-icons .icon-hxl-tags:hover::before {
  color: #f2645a;
}

.search-list .dataset-item .dataset-content2 .dataset-dates {
  margin-bottom: 8px;
}

.search-list .dataset-item .dataset-content2 .dataset-dates span {
  display: inline-block;
  width: 155px;
}

.search-list .dataset-item .dataset-content2 .dataset-dataseries {
  margin-top: 8px;
}

.search-list .dataset-item .dataset-content2 .dataset-dataseries a {
  color: #007CE0;
}

.search-list .dataset-item .dataset-content2 .updatedNameColor {

  font-weight: 600;
  font-size: 13.25px;
  color: #888888;
}

.search-list .dataset-item:last-of-type {
  border-bottom: none;
}

.search-nav>li>a {
  padding-top: 0;
}

.select2-results .select2-result-label {
  max-height: 2em;
  overflow: hidden;
}

.select2-results .select2-result-label:hover {
  max-height: inherit;
  overflow: inherit;
}

.dataset-private.badge.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: red !important;
}

.dataset-heading>a {
  font-weight: 600;
  font-size: 14px;
  color: #007CE0;
}

.updatedNameColor {
  font-weight: 600;
  font-size: 13.25px;
  color: #888888;
}

.download-counts {
  font-size: 13.25px;
  color: #888888;
}


.input-group .form-control {
  z-index: 0;
}

/* HDX end */

.context-info h1.heading,
.context-info .heading.h1 {
  color: #0F2D5B !important;
  font-weight: bold;
}

/* General styles for the media grid */
.location-media-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.location-media-item {
  display: table-row;
  border-bottom: 1px solid #ddd;
}

.location-media-item:last-child {
  border-bottom: none;
}

/* Columns (cells) within each media item */
.location-media-item>div {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* Styling for each column */
.location-media-item .location-col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Aligning the country flag and name */
.location-media-item .location-col-md-4 img {
  margin-right: 10px;
  vertical-align: middle;
}

.location-media-item .location-col-md-4 a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.location-media-item .location-col-md-4 a:hover {
  color: #007bff;
}

/* Text and count alignment for datasets and projects */
.location-media-item .location-text-center {
  text-align: center;
}

.location-media-item .location-count {
  font-size: 14px;
  color: #666;
}

/* Hover effect for each item */
.location-media-item:hover {
  background-color: #f9f9f9;
}

.location-media-item .location-clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .location-media-item {
    display: block;
  }

  .location-media-item>div {
    display: block;
  }
}

.location-media-item-header {
  margin: 0;
  padding: 0.5rem 10px;
  font-size: 0.875rem;
  line-height: 1.3;
  background-color: var(--l2-neutralForegroundRest);
  border-top: 1px solid var(--l2-neutralForegroundRest);
  border-bottom: 1px solid var(--l2-neutralForegroundRest);
  color: #fff;
}

/* Styles for the rows */
.location-media-item:nth-child(odd) {
  background-color: #fff;
  /* Light blue for odd rows */
}

.location-media-item:nth-child(even) {
  background-color: #f1f1f1;
  /* Light grey for even rows */
}

.location-media-item .location-text-center {
  padding: 8px;
}

.location-media-item:hover {
  background-color: #d1e7e1;
  /* A hover effect to highlight on hover */
}

.location-media-item .location-count {
  font-size: 14px;
  color: #666;
}

.location-media-item i {
  color: #007bff;
  /* Color for the info icon */
}

.col-md-3.location-text-center {
  text-align: center;
}

.col-md-1.location-text-center {
  text-align: center;
}


/* Scheming Group About  */

.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(249 250 251);
  padding: inherit;
  margin-bottom: 50px;
  gap: 2rem;
}

.info-container-items {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  justify-content: center;
}

.info-item {
  width: 85%;
  margin: 1%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #0F2D5B;
  align-items: center;
}

.info-item-name {
  font-weight: bold;
  width: 40%;
}

.info-item-value {
  flex-grow: 1;
  text-align: left;
  /* Aligns the value text to the left */
  width: 58%;
}


@media (max-width: 768px) {
  .info-item {
    width: 100%;
  }
}

.info-container-items-map {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-content: center;
}

.portal-header {
  position: sticky !important;
  top: 0;
  z-index: 999;
}

/*  breadcrumb-strip */
.breadcrumb-strip {
  background-color: #caecff;
  color: #001437;
}

.title-strip {
  /* background: linear-gradient(to right, #76CDF5 0%, #008ACD 30%, #008ACD 100%); */
  background: #edf6fd !important;
  border-radius: 8px;
  /*   border-bottom: solid #000f14;
  border-top: solid #000f14; */
  margin-bottom: 24px;
  margin-top: -20px;
  height: 50px;
  /* Adjust the height if necessary */
  text-align: center;
  width: 120vw;
  /* Ensures the blue strip spans the entire screen width */
  position: relative;
  left: 0;
  /* Align it to the left edge */
  margin-left: 0 !important;
  margin-right: 0 !important;
  left: -40.9%;
  border-width: 1px;
  padding-top: 10px !important;
  padding-left: 12.5% !important;
  max-width: 171.9% !important;
}

/* 
.title-strip .breadcrumb .active a {
  font-family: 'Noto Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000f14;
  line-height: 1.3em;
  padding-left: var(--bs-gutter-x, 0.75rem);
 }
 */
.title-strip .breadcrumb {
  margin-bottom: 0;

}

.toolbar {
  max-width: none;
  /* Ensure no max-width is applied */
  padding: 0;
  /* Optional: reset padding */
}

.dataset-heading-icon i {
  font-family: ETmoudles;
  content: "\e109";
}


.dataset-updated-org:before {
  font-family: ETmoudles;
  content: "\e0ef";
  margin-right: 2px;
}

/* Package items css */
/* Main list item for the dataset */

.ds-icon:before {
  font-family: "ETmoudles";
  content: "\e109";
}


.ds-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}

.ds-icon-breadcrumb {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
}

/* Use the :before pseudo-element to insert content (icons) */
.ds-icon-breadcrumb-package:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e109";
  /* Unicode for the 'package' icon */
}

.ds-icon-breadcrumb-dataset::before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  content: "\e109";
  /* Unicode for the 'dataset' icon */
  vertical-align: top;
}

.ds-icon-breadcrumb-location:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e0e2";
  /* Unicode for the 'location' icon */
}

.ds-icon-breadcrumb-group:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e0a1";
  /* Unicode for the 'group' icon */
}

.ds-icon-breadcrumb-topic:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e01b";
  /* Unicode for the 'topic' icon */
}


.ds-icon-breadcrumb-user:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\fc";
  /* Unicode for the 'topic' icon */
}

.ds-icon-breadcrumb-org:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e0ef";
  /* Unicode for the 'topic' icon */
}

.ds-icon-breadcrum-other:before {
  font-family: "ETmoudles" !important;
  /* Ensure the font "ETmoudles" is loaded */
  font-size: 1.5rem;
  vertical-align: top;
  content: "\e0e9";
  /* Unicode for the 'other' icon */
}


.ds-downloads:before {
  font-family: "ETmoudles";
  content: "\e05f";
  margin-right: 3px;
}

.ds-dates:before {
  font-family: "ETmoudles";
  content: "\e023";
  margin-right: 3px;
}

.ds-org:before {
  font-family: "ETmoudles";
  content: "\e0ef";
  margin-right: 3px;
}

.dataset-title {
  color: #007CE0;
}


.toolbar .breadcrumb .active {
  font-size: 1.5rem;
}

#location-info {
  margin-top: 2rem;
}

#location-info-heading {
  margin-left: 5px;
}

/** Group info stats **/

.info-stats-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(249 250 251);
  padding: 1.5rem;
  margin-bottom: 50px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
  gap: 2rem;
  justify-content: center;
}

.info-stats-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  color: #1d3d64;
}


.info-stats-item h3 {
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.info-stats-item span {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 400;

}

/**Indicator Stats*/
.topline .indicator-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #1d3d64;
  line-height: 20px;
  background-color: rgb(249 250 251);
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: normal;
  overflow-wrap: break-word;
}


.keyfigures {
  background-color: aliceblue;
  padding-top: 10px;
  padding-left: 8px;
}


.info-stats-item:hover {
  background-color: aliceblue;
}


.dataset-item-container {
  padding: 5px;
}

.dataset-item-container {
  background-color: rgb(249 250 251);
  border: #000f14;
  border: 50%;
  margin-bottom: 20px;
  padding: 10px;
}

.dataset-resources-item {
  margin-top: 0 !important;
}

.notes.embedded-content {
  margin-bottom: 30px;
  font-size: 18px;
  width: 80%;
  display: flex;
}

/* .notes.embedded-content:before {
  font-family: "EtMoudles";
  content: "\e060";
  margin-right: 1rem;
}
 */
.resources h2 {
  border-bottom: #1d3d64;
  border-style: solid;
  margin-bottom: 1rem;
  width: 50%;
}

/* .package-description:before{
  font-family: "EtMoudles";
  content: "";
  margin-right: 1rem;
} */