
.et_pb_menu_0_tb_header.et_pb_menu .et-menu-nav li a {
    padding: 5px 20px 5px 20px;
}

.et_pb_css_mix_blend_mode_passthrough {
    mix-blend-mode: unset !important;
    width: 20.875%;
}

.et_pb_menu .et-menu>li {
padding-left: 0;
padding-right: 0;
}
.et_pb_menu_0_tb_header.et_pb_menu ul li a {
font-size: 17px;
}


ul.hierarchy-tree-top {
    list-style-type: none !important;
    background: none;
    display: none;
  }
  

  .module-narrow .nav-item>a .badge, .module-narrow .nav-aside li a .badge {
    background-color: transparent;
    border-radius: 0px;
    color: #092862;
    border: 0.5px solid #09286226;
    font-weight: 400;
}

/* Header menu styling */
.masthead {
    background: none;
    background-color: #0e2b58;
    font-family: 'Roboto',sans-serif;
}

.account-masthead {
    min-height: 30px;
    color: #fff;
    background: #000000;
}

#dataportal_logo {
    padding-left: 35px;
}