@use 'base' as *;

.module-heading {
  background-color: $brand-base;
  color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;

  h1, h2, h3, h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
