{% if group_dict is not defined %}
{% set group_dict = c.group_dict %}
{% endif %}


{% block primary_content_inner %}

<div class="info-stats-container">
        <div class="col-md-3 info-stats-item">
            <h3>{{ _('No of Datasets') }}</h3><br/>
            {% if group_dict.package_count is defined and group_dict.package_count is not none %}
            <span class="location-count">{{ ungettext('{num}', '{num}',
                group_dict.package_count).format(num=group_dict.package_count) }}</span>
            {% else %}
            <span class="location-count">{{ _('0') }}</span>
            {% endif %}
        </div>
        <div class="col-md-3 info-stats-item">
            <h3>{{ _('No of Projects') }}</h3><br/>
            {% if group_dict.total_projects is defined and group_dict.total_projects is not none %}
            <span class="location-count">{{ ungettext('{num}', '{num}',
                group_dict.total_projects).format(num=group_dict.total_projects) }}</span>
            {% else %}
            <span class="location-count">{{ _('0 ') }}</span>
            {% endif %}
        </div>
        <div class="col-md-3 info-stats-item">
            <h3>{{ _('No of Topics') }}</h3><br/>
             {% if group_dict.total_topics is defined and group_dict.total_topics is not none %}
            <span class="location-count">{{ ungettext('{num}', '{num}',
                group_dict.total_projects).format(num=group_dict.total_projects) }}</span>
            {% else %}
            <span class="location-count">{{ _('0') }}</span>
            {% endif %}
        </div>
</div>

{% endblock %}