{% ckan_extends %}

{% block who_hero %}
    {% snippet 'snippets/who-hero.html', 
    show_search_form = false, 
    title = group_dict.display_name, 
    description = group_dict.notes %}
{% endblock %}

{% block groups_search_form %}
  
  {% if 'location' in request.path %}
    {% snippet 'group/snippets/about_location.html', group_type = group_type %}
    {% snippet 'group/snippets/group_stats_location.html', group_type = group_type %}
  {% endif %} 
  {{ super() }}
{% endblock %}

{% block secondary_content %}
  {% if 'location' in request.path %}
    {% snippet "group/snippets/info_location.html", group=group_dict, show_nums=true %}
  {% else %}
    {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
  {% endif%}
{% endblock %}
