<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row footer-row">
            <div class="col-md-2 ">
              <div class="">
                <nav role="navigation" aria-labelledby="block-helpandservices-menu" id="block-helpandservices">
                  <div class="subscribe-section">
                    <div class="subscribe-container">
                      <h5>Get the latest news and updates</h5>
                      <form class="subscribe-form">
                        <button type="submit" class="subscribe-button">Subscribe</button>
                      </form>
                    </div>
                  </div>
                  </nav>
              </div>
            </div>
            <div class="col-md-2 footer_region">
              <div class="">
                <nav role="navigation" aria-labelledby="block-helpandservices-menu" id="block-helpandservices">
                  <h2 id="block-helpandservices-menu">Home</h2>
                </nav>
              </div>
            </div>
            <div class="col-md-2 footer_region">
              <div class="">
                <nav role="navigation" aria-labelledby="block-contactus-menu" id="block-contactus">
                  <h2 id="block-contactus-menu">About Us</h2>
  
                </nav>
              </div>
            </div>
            <div class="col-md-2 footer_region">
              <div class="">
                <nav role="navigation" aria-labelledby="block-whooffices-menu" id="block-whooffices">
                  <h2 id="block-whooffices-menu">Services</h2>
                </nav>
              </div>
            </div>
            <div class="col-md-2 footer_region">
              <div class="">
                <nav role="navigation" aria-labelledby="block-followus-menu" id="block-followus">
                  <h2 id="block-followus-menu">Portfolio</h2>
                </nav>
              </div>
            </div>
            <div class="col-md-2 footer_region">
              <div class="">
                <nav role="navigation" aria-labelledby="block-followus-menu" id="block-followus">
                  <h2 id="block-followus-menu">Contact us</h2>
                </nav>
              </div>
            </div>
    </div>
    {% endblock %}
  </div>
</footer>
