<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row footer-row">
      <div class="col-md-4">
        <div class="">
          <nav role="navigation" aria-labelledby="block-helpandservices-menu" id="block-helpandservices">
            <div class="subscribe-section">
              <div class="subscribe-container">
                <h4>Get the latest news and updates</h5>
                <form class="subscribe-form">
                  <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-md-2 footer_region">
        <div class="">
          <nav role="navigation" aria-labelledby="block-helpandservices-menu" id="block-helpandservices">
            <h4 id="block-helpandservices-menu">Home</h4>
          </nav>
        </div>
      </div>
      <div class="col-md-2 footer_region">
        <div class="">
          <nav role="navigation" aria-labelledby="block-contactus-menu" id="block-contactus">
            <h4 id="block-contactus-menu">About Us</h4>
          </nav>
        </div>
      </div>
      <div class="col-md-2 footer_region">
        <div class="">
          <nav role="navigation" aria-labelledby="block-contactus-menu" id="block-contactus">
            <h4 id="block-contactus-menu">Contact Us</h4>
          </nav>
        </div>
      </div>
      <div class="col-md-2 footer_region">
        <div class="">
          <nav role="navigation" aria-labelledby="block-whooffices-menu" id="block-whooffices">
            <h4 id="block-whooffices-menu">Country Profile</h4>
          </nav>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</footer>