{# 
    This template extends the base CKAN template and customizes the main content area.
    It provides a hero section that can be overridden by child templates.
#}
{% ckan_extends %}

{% block maintag %}
    {# 
        The who_hero block is nested inside maintag to allow more granular overriding.
        Child templates can:
        1. Override just the who_hero block to change only the hero content
        2. Override the entire maintag block to replace everything
    #}
    {% block who_hero %}
        {% snippet 'snippets/who-hero.html' %}
    {% endblock %}
    {{ super() }}
{% endblock %}