@use 'base' as *;

ol, ul {
  margin: 1rem 0;
  padding-left: 2rem;

  li {
    margin-bottom: 0.5rem;
    color: $foreground-weaker;

    &:before {
      content: '•';
      color: $brand-base;
      margin-right: 0.5rem;
    }
  }
}

ol {
  list-style: decimal;
}

dl {
  display: flex;
  flex-wrap: wrap;

  dt {
    font-weight: bold;
    color: $brand-stronger;
    margin-right: 1rem;
  }

  dd {
    margin-left: 0;
    color: $foreground-weaker;
    margin-bottom: 0.5rem;
  }
}
