
// Print-specific styles extracted from print.min.css
@page {
    margin: 2cm 1cm;
}
@media print {
    .sf-body {
        font-family: Garamond, Helvetica, sans-serif;
        font-size: 12pt;
        line-height: 1.25em;
    }
    .sf-body h1 {
        margin: 0.5cm 0 !important;
        font-size: 36pt !important;
        line-height: 1.25em !important;
    }
    .sf-body img {
        max-width: 100% !important;
    }
}
