{% ckan_extends %}

{% block who_hero %}
    {% snippet 'snippets/who-hero.html', 
    show_search_form = true, 
    title = _('Health Datasets'), 
    description = _('Access and explore comprehensive health data from the World Health Organization. Find datasets, statistics, and insights to support global health research and decision-making.')  %}
{% endblock %}

{% block wrapper_class %} dataset-list-wrapper {% endblock %}



{% block secondary_content %}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
          {% set labeller= h.get_labeler_for_facet(facet) %}
        {{ h.snippet('snippets/facet_list.html', label_function=labeller, title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}